@model HotelEden.Models.ContactViewModel

@{
    ViewBag.Title = HotelEden.SpanishResources.ContactTitle;
}

<div id="page" class="container">
    <div class="tbox1">
        <div class="header">
            <h1>@ViewBag.Title</h1>
            </div>

            <section class="contact">
                @if (ViewBag.CommentSent == null)
                {
                    <p>
                        @HotelEden.SpanishResources.ContactDescription
                    </p>
                    <header>
                        <h3>@HotelEden.SpanishResources.ContactFormTitle</h3>
                    </header>
                    <table>
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            <tr>
                                <td>
                                    <label>@HotelEden.SpanishResources.ContactFormName</label>
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.Email)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Comentario
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.Comment, new { rows = 4 })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="@HotelEden.SpanishResources.ContactSubmit" />
                                </td>
                            </tr>

                        }
                    </table>
                }
                else
                {
                    <p>@HotelEden.SpanishResources.ContactSentDetails</p>
                }
            </section>
        </div>

    <div class="tbox2">
        <div class="boxContents">
            @Html.Partial("Location")
        </div>
    </div>
</div>


    

    @section scripts{
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXO2svuBw2vK22y84okRmLvbE50AwBWM&sensor=false">
        </script>
        <script src="~/Scripts/Maps.js" type="text/javascript"></script>
    }
