@{
    ViewBag.Title = HotelEden.SpanishResources.SiteHomeTitle;
}

@*
    //use only when using the original brown template
    @section featured {
    @Html.Partial("HomeReservation")
}*@

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXO2svuBw2vK22y84okRmLvbE50AwBWM&sensor=false">
</script>
<script src="~/Scripts/Home.js" type="text/javascript"></script>
<script src="~/Scripts/Maps.js" type="text/javascript"></script>
}
<div id="banner" class="container">
    <img src="/Content/template_spotless/images/gallery-1.jpg" alt="" class="image image-full" />
</div>

<div id="page" class="container">
    <div class="header">
        <h2>@HotelEden.SpanishResources.HomeWelcomeTitle</h2>
    </div>

    <div class="tbox1">
        @*<h3>Welcome to our website</h3>*@
        <p>@Html.Raw(HotelEden.SpanishResources.HomeWelcomeDetails)</p>
        <p>@Html.Raw(HotelEden.SpanishResources.HomeAmenitiesDetails)</p>
    </div>
    <div class="tbox2">
        <div class="boxContents">
            @Html.Partial("HomeReservation")
        </div>
        <div class="boxContents">
            @Html.Partial("Location")
        </div>
    </div>
</div>
