@model HotelEden.Models.RoomTypesReservationViewModel

@{
    ViewBag.Title = HotelEden.SpanishResources.SiteRoomsTitle;
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>@HotelEden.SpanishResources.RoomsTitle</h2>
@String.Format(HotelEden.SpanishResources.RoomsSearchDescription,Model.CheckInDate.ToShortDateString(), Model.CheckOutDate.ToShortDateString())

@using (Html.BeginForm("Reserve","Rooms",FormMethod.Get)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.CheckInDate)            
    @Html.HiddenFor(model => model.CheckOutDate)

    <table class="roomList">
        <tr>
            <th colspan="2"></th>
            <th>@HotelEden.SpanishResources.RoomsCostColumn</th>
            <th>@HotelEden.SpanishResources.RoomsCountColumn</th>
            <th><input class="RoomsSelectRoom" type="submit" value="@HotelEden.SpanishResources.RoomsSelectRoom" /></th>
        </tr>
        <tr class="roomListItemBreak">
            <td colspan="5">
                <hr />
            </td>
        </tr>

        @foreach (HotelEden.Models.RoomType item in (List<HotelEden.Models.RoomType>)ViewBag.AllRooms)
        {
            <tr class="roomListItem">
                <td class="roomThumbColumn">
                    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" />
                </td>
                <td class="roomTitleColumn">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <div>
                        @for (int i = 0; i < item.MaxGuestNo; i++)
                        {
                            <span class="roomOccupant"></span>
                        }
                    </div>
                    <span>@Html.Raw(item.Description)</span>
                </td>
                <td class="priceColumn">
                    USD $@String.Format("{0:0.00}", item.Rate)
                </td>
                <td class="maxGuestsColumn">
                    @{
                        var fieldCountName = item.Keyword + "Count";
                    }
                    <select name="@fieldCountName">
                        @for (int i = 0; i < 4; i++ )
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </td>
                
                <td class="selectColumn">
                    @*@Html.ActionLink(HotelEden.SpanishResources.RoomsSelectRoom, "Reserve", "Rooms", new { room = item.URL }, null)*@
                </td>
            </tr>
            <tr class="roomListItemBreak">
                <td colspan="5">
                    <hr />
                </td>
            </tr>
        }

        <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td><input class="RoomsSelectRoom" type="submit" value="@HotelEden.SpanishResources.RoomsSelectRoom" /></td>
        </tr>
    </table>


@*</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckOutDate)
            @Html.ValidationMessageFor(model => model.CheckOutDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatrimonialCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatrimonialCount)
            @Html.ValidationMessageFor(model => model.MatrimonialCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoubleSimpleCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoubleSimpleCount)
            @Html.ValidationMessageFor(model => model.DoubleSimpleCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatrimonialAndSimpleCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatrimonialAndSimpleCount)
            @Html.ValidationMessageFor(model => model.MatrimonialAndSimpleCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoubleMatrimonialCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoubleMatrimonialCount)
            @Html.ValidationMessageFor(model => model.DoubleMatrimonialCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TripleSimpleCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TripleSimpleCount)
            @Html.ValidationMessageFor(model => model.TripleSimpleCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuadrupleSimpleCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuadrupleSimpleCount)
            @Html.ValidationMessageFor(model => model.QuadrupleSimpleCount)
        </div>*@
        

        <p>
            <input type="submit" value="Save" />
        </p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
