@model HotelEden.Models.Reservation

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Success</h2>

<fieldset>
    <legend>Reservation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReservedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumNights)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumNights)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumGuests)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumGuests)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckInDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckInDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckOutDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckOutDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
