@model HotelEden.Models.Reservation

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="content-wrapper">
    <div class="homeReservation-wrapper">
        <div class="homeReservation float-right">
            <div class="homeReservationTitle" style="padding-top:25px; padding-bottom:12px;">
                Reservaciones
            </div>

            <div style="padding:5px;">
                @using (Html.BeginForm("Search", "Rooms",FormMethod.Get)) {
                    <table border="0" style="width:90%; margin:auto">
                        <tr>
                            <td class="formLabel" >Llegada</td>
                            <td>
                                <label>
                                    @Html.TextBoxFor(model => model.CheckInDate, new { @class = "date", id = "CheckInDate" })
                                </label>
                            </td>

                        </tr>
                        <tr>
                            <td class="formLabel">
                                Salida
                            </td>
                            <td>
                                <label>
                                    @Html.TextBoxFor(model => model.CheckOutDate, new { @class = "date" , id = "CheckOutDate" })
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="searchDates">
                                <input type="submit" value="Buscar" />
                            </td>
                        </tr>
                        @*<tr>
                          <td ><label>
                            <input type="text" name="textfield">
                          </label></td>
                          <td ><label>
                          <input type="image" src="images/index_27.gif" name="imageField">
                          </label></td>
                        </tr>*@
                  </table>
                }
            </div>
        </div>
    </div>


@*
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReservedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReservedDate)
            @Html.ValidationMessageFor(model => model.ReservedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumNights)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumNights)
            @Html.ValidationMessageFor(model => model.NumNights)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumGuests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumGuests)
            @Html.ValidationMessageFor(model => model.NumGuests)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckInDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckInDate)
            @Html.ValidationMessageFor(model => model.CheckInDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckOutDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckOutDate)
            @Html.ValidationMessageFor(model => model.CheckOutDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckedIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckedIn)
            @Html.ValidationMessageFor(model => model.CheckedIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckedOut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckedOut)
            @Html.ValidationMessageFor(model => model.CheckedOut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cancellation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cancellation)
            @Html.ValidationMessageFor(model => model.Cancellation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalPrice)
            @Html.ValidationMessageFor(model => model.TotalPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomId)
            @Html.ValidationMessageFor(model => model.RoomId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
*@
    
</section>