@{
    ViewBag.Title = HotelEden.SpanishResources.SiteHomeTitle;
}

@*
    //use only when using the original brown template
    @section featured {
    @Html.Partial("HomeReservation")
}*@

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXO2svuBw2vK22y84okRmLvbE50AwBWM&sensor=false">
</script>
<script src="~/Scripts/Home.js" type="text/javascript"></script>
<script src="~/Scripts/Maps.js" type="text/javascript"></script>
}

    <article>
        <h1>@HotelEden.SpanishResources.HomeWelcomeTitle</h1>
        @Html.Raw(HotelEden.SpanishResources.HomeWelcomeDetails)
        @*@Html.Raw(HotelEden.SpanishResources.HomeAmenitiesDetails)*@
        <div>
            @HotelEden.SpanishResources.HomeInstructionsForReservations
        </div>  
    </article>

<aside>
    @Html.Partial("Location")
</aside>

